@import './../../../../scss/abstracts/variables';

.cards {
  background-image: url(./../../../../assets/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 15rem;
  .contentCards {
    width: 100%;
    display: flex;
    justify-content: center;
    
  
  }
}